<!-- Inject Navigation view here -->
<div data-ng-include data-src="'../nav.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-3">
                <article class="card-user box-typical">
                    <div class="card-user-photo">
                        <img src="img/photo-184-1.jpg" alt="">
                    </div>
                    <div class="card-user-name">Douglas Diaz</div>
                    <div class="card-user-status">in disqussion</div>
                    <div class="card-user-social">
                        <a href="#">
                            <i class="fa fa-github" style=""></i>
                        </a>
                    </div>
                </article><!--.card-user-->
            </div>
        </div>
    </div>
</div>