<!-- Inject Navigation view here -->
<div data-ng-include data-src="'../nav.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <a ng-click="authenticate('github')" class="btn btn-block btn-github btn-social">
                        <i class="fa fa-github"></i>Sign in with GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>