.spinner {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 150px auto 0px auto;
}
.please-wait {
    text-align: center;
    font-weight: 900;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #337ab7;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

.repo-title {
    margin-bottom: 20px;
    font-size: 18px;
    color: #565656;
    text-transform: uppercase;
}
.repo-description {
    color: #8B8B8B;
}
.repo-params {
    line-height: 1.42857;
}
.repo-item{
    /*margin-bottom: 20px !important;*/
}
.repo-item:last-child{
    margin-bottom: 0px;
}